{% extends "layout.html" %}
{% block title %}用户管理{% endblock %}
{% block nav_users %}active{% endblock %}
{% block link %}
<link href="/static/sweetalert-1.1.1/dist/sweetalert.css" rel="stylesheet"/>
<link href="/static/DataTables-1.10.12/media/css/jquery.dataTables.css" rel="stylesheet"/>
{% endblock %}
{% block main %}
<h2 class="bg-success">{{msg}}</h2>
{% for msg in get_flashed_messages() %}
	<div align="center"><h3 style="color: red">{{ msg }}</h3></div>
{% endfor%}
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#dialog" data-title='创建用户' data-btn="创建" data-url="/user/create/">添加用户</button>
<br/><br/>
<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>用户名</th>
            <th>密码</th>
            <th>邮箱</th>
            <th>用户类型</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{user['username']}}</td>
            <td>******</td>
            <td>{{user['email']}}</td>
            <td>{{user['user_type']}}</td>
            <td>
                <button type="button" class="btn btn-xs btn-primary" data-toggle="modal" data-target="#dialog" data-userid="{{user['uid']}}" data-username="{{user['username']}}">修改密码</button>
                <button type="button" class="btn btn-xs btn-primary" data-toggle="modal" data-target="#dialog" data-title="用户信息修改" data-btn="更新" data-url="/user/modify/?uid={{user['uid']}}">编辑</button>
                <button type="button" class="btn btn-xs btn-danger btn-delete" data-toggle="modal"  data-url="/user/delete/?uid={{user['uid']}}&username={{user['username']}}" data-text="{{user['username']}}">删除</button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
{% block script %}
<script type="text/javascript" src="/static/sweetalert-1.1.1/dist/sweetalert.min.js"></script>
<script type="text/javascript" src="/static/DataTables-1.10.12/media/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="/static/DataTables-1.10.12/media/js/jquery.dataTables.js"></script>
{% endblock %}
{% block js %}
<script type="text/javascript">
	jQuery(document).ready(function(){
		jQuery('#dialog').on('show.bs.modal', function(event){
          var that = this;
          var button = jQuery(event.relatedTarget);
          jQuery(that).find('.modal-title').html(button.data('title'));
          jQuery(that).find('#dialog-btn').html(button.data('btn'));
          console.log(button.data('url'))
          jQuery('#dialog').find('.modal-body').load(button.data('url'));
        });
		jQuery('#dialog-btn').on('click', function(){
			var dialog = jQuery('#dialog');
			var form = jQuery(dialog).find('form');
			console.log('aaaaa')
			jQuery.post(form.attr('action'),
				jQuery(form).serializeArray(),
				function(data){
					if(data['is_ok']){
						if (data['success']){
							var text = data['success'];
							swal({
								title: text,
								text: "",
								type: "success",
								showCancelButton: false,
								confirmButtonColor: "#DD6B55",
								confirmButtonText: "确定",
								cancelButtonText: "",
								closeOnConfirm: true,
								closeOnCancel: false
							},
							function(isConfirm){
								if(isConfirm){
									jQuery('#dialog').modal('hide');
									window.location.reload()
								}
							});
						}
					}else{
						var text = data['error'];
						swal({
								title: text,
								text: "",
								type: "error",
								showCancelButton: false,
								confirmButtonColor: "#DD6B55",
								confirmButtonText: "确定",
								cancelButtonText: "",
								closeOnConfirm: true,
								closeOnCancel: false
							},
							function(isConfirm){
								if(isConfirm){
								}
							});
					}
				},
				'json'
				);
		});
		jQuery('.btn-delete').on('click',function () {
           var that = this,
                   text = jQuery(that).data('text'),
                   url = jQuery(that).data('url');
            swal({
               title: "确定删除用户" + text,
                  text: "",
                  type: "warning",
                  showCancelButton: true,
                  confirmButtonColor: "#DD6B55",
                  confirmButtonText: "确定",
                  cancelButtonText: "关闭",
                  closeOnConfirm: true,
                  closeOnCancel: true
            },
            function(isConfirm) {
                if (isConfirm){
                    window.location.replace(url);
                }
            }
            );
        });
        jQuery('table').DataTable({
            language: {
                "sProcessing": "处理中...",
                "sLengthMenu": "显示 _MENU_ 项结果",
                "sZeroRecords": "没有匹配结果",
                "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
                "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                "sInfoPostFix": "",
                "sSearch": "搜索:",
                "sUrl": "",
                "sEmptyTable": "表中数据为空",
                "sLoadingRecords": "载入中...",
                "sInfoThousands": ",",
                "oPaginate": {
                    "sFirst": "首页",
                    "sPrevious": "上页",
                    "sNext": "下页",
                    "sLast": "末页"
                },
                "oAria": {
                    "sSortAscending": ": 以升序排列此列",
                    "sSortDescending": ": 以降序排列此列"
                }
            }
        });
	})
</script>
{% endblock %}