<form action="/user/update_password/" method="post">
  <input type="hidden" id="modify-user-uid" name="uid" value="{{uid}}">
  <div class="form-group">
    <label for="modify-user-name" class="control-label">用户名:</label>
    <input type="text" class="form-control" id="modify-user-name" readonly="readonly" value="{{username}}" name="username">
  </div>
  <div class="form-group">
    <label for="modify-user-opass" class="control-label">原密码:</label>
    <input type="password" class="form-control" id="modify-user-opass" value="" name="oldpassword">
  </div>
  <div class="form-group">
    <label for="modify-user-npass" class="control-label">新密码:</label>
    <input type="password" class="form-control" id="modify-user-npass" value="" name="newpassword">
  </div>
  <div class="form-group">
    <label for="modify-user-rpass" class="control-label">重复密码:</label>
    <input type="password" class="form-control" id="modify-user-rpass" value="" name="reppassword">
  </div>

  </form>