<form action="/assets_vm/add/" id="createForm">
  <div class="form-group">
    <label for="add-assets-sn" class="control-label">VM ID:</label>
    <input type="text" class="form-control" id="add-assets-sn" name="vmid" value="">
    <div class="alert alert-danger" role="alert" id="add-assets-sn-info" style="display:none"></div>
  </div>
  
  <div class="form-group">
    <label for="add-assets-pip" class="control-label">VM IP:</label>
    <input type="text" class="form-control" id="add-assets-pip" name="vmip" value="">
  </div>
  <div class="form-group">
    <label for="add-assets-vendor" class="control-label">应用:</label>
    <input type="text" class="form-control" id="add-assets-vendor" name="application" value="">
  </div>

  </form>